# AWS S3 configuration
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=your-region
AWS_S3_BUCKET=your-bucket
AWS_S3_PREFIX=your-prefix

# Redshift configuration
REDSHIFT_DB=your-redshift-database
REDSHIFT_HOST=your-redshift-host.redshift.amazonaws.com
REDSHIFT_USER=your-redshift-user
REDSHIFT_PORT=your-redshift-port
REDSHIFT_PASSWORD=your-redshift-password
REDSHIFT_IAM_ROLE_ARN=arn:aws:iam::<account>:role/RedshiftS3AccessRole
REDSHIFT_SCHEMA=your-redshift-schema


# PostgreSQL (streaming server)
POSTGRES_HOST=your-postgres-host
POSTGRES_PORT=postgres-port
POSTGRES_DB=your-postgres-database
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your--postgres-password
